Global.asax
Global.asax.cs
ICT272_assessment1.csproj
ICT272_assessment1.csproj.user
packages.config
Web.config
Web.Debug.config
Web.Release.config
bin/ICT272_assessment1.dll
bin/ICT272_assessment1.dll.config
bin/ICT272_assessment1.pdb
bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
bin/roslyn/csc.exe
bin/roslyn/csc.exe.config
bin/roslyn/csc.rsp
bin/roslyn/csi.exe
bin/roslyn/csi.exe.config
bin/roslyn/csi.rsp
bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
bin/roslyn/Microsoft.CodeAnalysis.dll
bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
bin/roslyn/Microsoft.CSharp.Core.targets
bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
bin/roslyn/Microsoft.Managed.Core.targets
bin/roslyn/Microsoft.VisualBasic.Core.targets
bin/roslyn/System.AppContext.dll
bin/roslyn/System.Collections.Immutable.dll
bin/roslyn/System.Console.dll
bin/roslyn/System.Diagnostics.FileVersionInfo.dll
bin/roslyn/System.Diagnostics.StackTrace.dll
bin/roslyn/System.IO.Compression.dll
bin/roslyn/System.IO.FileSystem.dll
bin/roslyn/System.IO.FileSystem.Primitives.dll
bin/roslyn/System.IO.Pipes.AccessControl.dll
bin/roslyn/System.IO.Pipes.dll
bin/roslyn/System.Reflection.Metadata.dll
bin/roslyn/System.Security.AccessControl.dll
bin/roslyn/System.Security.Claims.dll
bin/roslyn/System.Security.Cryptography.Algorithms.dll
bin/roslyn/System.Security.Cryptography.Encoding.dll
bin/roslyn/System.Security.Cryptography.Primitives.dll
bin/roslyn/System.Security.Cryptography.X509Certificates.dll
bin/roslyn/System.Security.Principal.Windows.dll
bin/roslyn/System.Text.Encoding.CodePages.dll
bin/roslyn/System.ValueTuple.dll
bin/roslyn/System.Xml.ReaderWriter.dll
bin/roslyn/System.Xml.XmlDocument.dll
bin/roslyn/System.Xml.XPath.dll
bin/roslyn/System.Xml.XPath.XDocument.dll
bin/roslyn/vbc.exe
bin/roslyn/vbc.exe.config
bin/roslyn/vbc.rsp
bin/roslyn/VBCSCompiler.exe
bin/roslyn/VBCSCompiler.exe.config
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/ICT272_assessment1.csproj.CopyComplete
obj/Debug/ICT272_assessment1.csproj.CoreCompileInputs.cache
obj/Debug/ICT272_assessment1.csproj.FileListAbsolute.txt
obj/Debug/ICT272_assessment1.csprojAssemblyReference.cache
obj/Debug/ICT272_assessment1.dll
obj/Debug/ICT272_assessment1.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Properties/AssemblyInfo.cs
