/**
  theme color
  red color: rgba(255, 101, 55, 0.93);
  Gray color: rgba(0, 0, 0, .32);

*/
/**
  reset css 
*/
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
p {
  line-height: 180%;
}
a {
  text-decoration: none;
  color: rgba(255, 101, 55, 0.93);
}
/**
  Common settings
*/
html {
  width: 100%;
  height: auto;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Bookman Old Style', "Times New Roman", Times, sans-serif;
  font-size: 16px;
  /*margin: 0;*/
  color: #313131;
  background-color: white;
}
#wrapper {
  width: 100%;
  min-width: 320px;
  height: auto;
  text-align: center;
}
h1 {
  font-size: 300%;
  font-weight: 300;
  /*width: 60%;*/
  display: inline-block;
}
h1.header-line {
  margin: 0 auto;
  margin-bottom: 2%;
  border-bottom: 3px solid rgba(0, 0, 0, .32);
  padding-bottom: 1%;
  position: relative;
}
h1.header-line:before {
  content: "";
  width: 40px;
  height: 3px;
  background-color: rgba(255, 101, 55, 0.93);
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
}
p {
  font-size: 110%;
  /*width: 54%;*/
  color: rgba(0, 0, 0, .70);
  margin-bottom: 20px;
  text-align: left;
  /*margin-left: auto;
  margin-right: auto;*/
  margin-top: 0;
}

/**
  Header 
*/
header {
  width: 100%;
  /*background: url(./images/hp_header.jpg) center top no-repeat;
  background-size: 100%;*/
  padding: 15% 0;
  padding-top: 0;
  text-align: center;
  /*font-family: 'Roboto', sans-serif;*/
  color: white;
  display: table;
}
.jumbotron-extend {
  position: relative;
  height: 100vh;
  min-height: 300px;
  background: url(./images/hp_header.jpg) center no-repeat;
  background-size: cover;
  vertical-align: middle;
}
/** all page has no hero images exceot for toppage */
header.noBg {
  background: none;
  padding: 7% 0;
}
  header h1 {
    font-size: 600%;
    font-weight: 600;
    text-shadow: 1px 1px 0 #000;
    margin-top: 20vh;
  }
  header #branding {                                           
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000, 0px 1px 0 #000, 0-1px 0 #000, -1px 0 0 #000, 1px 0 0 #000;
  }
/** 
  Navigation
*/
header nav ul {
  width: 100%;
  align-items: center;
}
header nav ul li {
  padding: 1.5% 0;
}
header nav a {
    text-decoration: none;
    color: #012846;
    font-size: 130%;
    margin: 0 20px;
}
header .logo {
  margin-right: auto;
}
header img {
  width: 100px;
  height: auto;
}
/**
  main 
*/
.maincontent, .intro {
  width: 70vw;/* view point width */
  height: auto;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #012846;
  padding: 70px;
}
.intro #slogan {
  color: #012846;
  font-size: 130%;
  font-weight: 600;
  margin-bottom: 20px;
}
.intro p {
  text-align: center;
}
.maincontent {
  border-bottom: 2px solid #788086;
  padding-bottom: 40px;
}
  .maincontent img {
    width: 350px;
    height: 280px;
    margin-right: 20px;
  }
.maincontent .workcontent {
  width: 40vw;
  text-align: left;
}
.itemLeft {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
}
/**
  footer
*/
footer {
  /*border-top: 2px solid #788086;*/
  background-color: #3e3e3e;
  color: white;
  margin-top: 5px;
  padding: 5px 0;
}
/**
  Action
*/
/* Hover Action */
/* this animation is conflicting with hover action of bootstram 
  and no idea how to turn off the action.. so far comment out.
*/
/*.lineLtoR {
  position: relative;
  display: inline-block;
}
.lineLtoR::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #012846;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}*/
.lineLtoR:hover::after {
  transform: scale(1, 1);
}
/**
  About Us page
*/
  .about-info p {
  width: 54%;
  margin-left: auto;
  margin-right: auto;
}
/**
  Product page
*/
.product-info p {
  width: 54%;
  margin-left: auto;
  margin-right: auto;
}
#product-table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 3vw;
}
#product-table tr:nth-child(even),
#product-table th {
  border-bottom: dashed 3px  rgba(0, 0, 0, .32);
}
.table-img {
  vertical-align: top;
  width: 300px;
  /*background: #f0e68c;*/

}
.table-img > img {
  width: 90%;
  margin: 1% auto;
}
.emphasize {
  margin: 10px auto;
  margin-left: 50px;
}
/**
  Contact page
*/
.contact-info p {
  text-align: center;
}
#form-section {
  padding: 15px;
  margin: 20px 0;
}
#form-section .form-item {
	border: medium none !important;
	margin: 0 auto;
  margin-bottom: 15px;
	min-width: 50%;
	padding: 0;
	width: 50%;
}
#form-section #nameBox, #form-section #mailBox,
#form-section #phoneBox, #form-section #commentBox {
  width:100%;
	border:1px solid #CCC;
  border-radius: 5px;
	background:#FFF;
	margin:0 0 5px;
  font-size: 1em;
  padding: 5px 40px;
  padding-left: 5px;
  text-transform: uppercase;
  font-weight: normal;
}
#nameBox::placeholder {
  color: red;
}
#form-section #MainHolder_commentBox {
  height: 80px;
  resize: none;
  /*margin:10px 0px 10px 0px;*/
}

input[type='text']:focus {
  border: 1px solid rgba(255, 101, 55, 0.93);
  outline: none;
  box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}
#submitBtn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: rgba(255, 101, 55, 0.93);
  background-color: white;
  border: dashed 1px rgba(255, 101, 55, 0.93);
  border-radius: 3px;
  transition: .4s;
}
#submitBtn:hover {
  border-style: dotted;
  color: rgba(255, 101, 55, 0.93);
  background-color: rgba(167, 167, 167, 0.2);
}
#office-info h2 {
  margin-bottom: 27px;
  padding-top: 50px;
  border-top: dashed 3px rgba(0, 0, 0, .32);
}
#office-info table {
  margin: 0 auto;
}
#office-info table th,
#office-info table td {
  height: 30px;
  text-align: left;
}
/**
  Thankyou page
*/
.thankyou-info h2 {
  margin-bottom: 27px;
}
.thankyou-info p {
  text-align: center;
}
/**
  responsive
*/
@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 400%;
  }
}